<div class="container">
  <H1>NEW RESTAURANT</H1>
  
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.submit "Save restaurant", class: "btn btn-primary"%>
  <% end %>
  
</div>