<div class="container">
  <h1><%= @restaurant.name %></h1>
  
  <p>Endereço: <%= @restaurant.address %></p>
  <p>category: <%= @restaurant.category %></p>

  <p>reviews: <% @restaurant.reviews.each do |review| %>
    <li><%= review.rating %> - <%= review.content %></li>
    <% end %>
  </p>

<%= link_to '+ Add a review to the restaurant', new_restaurant_review_path(@restaurant) %>

<p><%= link_to '+ Back to restaurants list', restaurants_path %></p>

</div>